body {
    background-color: #002ead;
  }
  h1 {
    color: #ffffff;
    margin-bottom: 10px;
  }
  h2 {
    color: #ff7622;
    margin-top: 5px;
  }
  .container {
      width: 100%;
      min-height: 100vh;
      position: relative;
      display: flex
  ;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  
  }
  div.form-container {
    background-color: #ffffff;
    min-height: 200px;
    display: flex;
    align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 30px;
      border-radius: 20px;
  }
  .form-input {
   
      height: 30px;
      width: 250px;
      text-align: center;
      font-size: 1.2rem;
      margin: 10px;
      border: none;
      border-bottom: 2px solid #000000;
  }
  .form-input-btn {
        width: 90px;
      border: none;
      padding: 10px;
      border-radius: 15px;
      background-color: #000000;
      color: #fff;
      cursor: pointer;
  }
  #p-result {
color: #ff7622;
  }